
.container{
    position: absolute;
    left: 40%;
    top: 20%;
    background-color: #dde3f1;
    width: 20%;
    border: solid 1px rgb(24, 23, 29);
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5%;
}

.closeModal{
    width: 10%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    margin-top: 0.2rem;
}

.modal-content{
    margin: 0 20px;
    font-size: 1rem;
}